.bar.container {
  width: 90%;
  background-color: var(--bg-alt);
  border-radius: var(--border-radius);
  border: 2px solid var(--accent-alt);
  box-sizing: content-box;
}

@media screen and (max-width: 480px) {
  .bar.container {
    width: 98%;
  }
}
