.line.container {
  width: 95% !important;
  background-color: var(--bg-alt);
  border-radius: var(--border-radius);
  border: 2px solid var(--accent-alt);
  box-sizing: content-box;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .line.container {
    width: 98% !important;
  }
}
